{% extends "base.html" %}
{% load form_tags %}

{% block title %}
  <title>{{ object|yesno:"Update,Create" }} Genre</title>
{% endblock %}

{% block content %}
  <div class="pcoded-content">
    <div class="pcoded-inner-content">
      <div class="main-body">
        <div class="page-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h5>{{ object|yesno:"Update,Create" }} Genre</h5>
                </div>
                <div class="card-body">
                  <form action="" method="post" novalidate>
                    {% csrf_token %}
                    
                    <!-- Genre Form Fields -->
                    <div class="form-group">
                      {{ form.name.label_tag }} <!-- Label for the field -->
                      {{ form.name|add_class:"form-control" }} <!-- Applying Bootstrap class for better styling -->
                    </div>
                    
                    <!-- Submit Button -->
                    <div class="form-group mt-3">
                      <input class="btn btn-primary" type="submit" value="Submit">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
