{% extends "base.html" %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>

  <ul>
    {% if collections %}
      {% for collection in collections %}
        <li>
          <strong><a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a></strong> <br>
          Created on: {{ collection.created_at|date:"F j, Y" }}
        </li>
      {% endfor %}
    {% else %}
      <p>No collections available.</p>
    {% endif %}
  </ul>

{% endblock %}
