{% extends "base.html" %}

{% block title %}
  <title>{{ title }}</title>
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  <form method="GET" action="" class="form-inline">
    {{ search_form }}
  <input class="btn btn-secondary" type="submit" value="🔍">
  </form>
  <ul>
    {% if collections %}
      {% for collection in collections %}
        <li>
          <strong><a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a></strong> <br>
          Created on: {{ collection.created_at|date:"F j, Y" }}
          Creator: {{ collection.gamer.username }}
          {% if collection.gamer == request.user %}
            <a class="btn btn-secondary" href="{% url 'collection:collection-update' pk=collection.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'collection:collection-delete' pk=collection.id %}">Delete</a>
          {% else %}
            <a class="btn btn-success" href="{% url 'collection:collection-copy' pk=collection.id %}">Copy</a>
          {% endif %}
        </li>
      {% endfor %}
    {% else %}
      <p>No collections available.</p>
    {% endif %}
  </ul>
  <a class="btn btn-success" href="{% url 'collection:collection-create' %}">Add new collection</a>
{% endblock %}
