{% extends "base.html" %}

{% block title %}
  <title>{{ title }}</title>
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>

  <ul>
    {% if collections %}
      {% for collection in collections %}
        <li>
          <strong><a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a></strong> <br>
          Created on: {{ collection.created_at|date:"F j, Y" }}
          Creator: {{ collection.gamer.username }}
          {% if collection.gamer == request.user %}
          	<a href="{% url 'collection:collection-update' pk=collection.id %}">Edit</a>
          {% endif %} 
        </li>
      {% endfor %}
    {% else %}
      <p>No collections available.</p>
    {% endif %}
  </ul>
  <a href="{% url 'collection:collection-create' %}">Add new collection</a>
{% endblock %}
